.modalWin {
    height: 50%;
    width: 50%;
    border: 3px outset gray;
    background: wheat;
    top: 20%; /* отступ сверху */
    right: 0;
    left: 0;
    font-size: 14px;
    margin: 0 auto;
    z-index:2; /* поверх всех */
    position: fixed; /* фиксированное позиционирование, окно стабильно при прокрутке */
    padding: 15px;
    border: 1px solid #383838;
}
#shadow {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1; /* поверх всех, кроме окна*/
    background: #000;
    opacity: 0.5; /*прозрачность*/
    left: 0;
    top: 0;
}